{% extends "auctions/layout.html" %}

{% block body %}

    {% if bid_data.bid_closed == True %}
        <h2>{{ name }}</h2>
        <strong style="color: red">[CLOSED]</strong>
    {% else %}
        <h2>{{ name }}</h2>
    {% endif %}
    <hr style="border-top: 2px dashed black">

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <p>About this product : {{ description }}</p>
                <strong><p>Starting bid: ${{ price }}</p></strong>
                <strong><p>Current bid: ${{bid_data.current_bid}}</p></strong>
            
                <p>Category: {{ category }}</p>
                <p>Created on: {{ created }}</p>
                <p>Listed by: <strong>{{listed_by}}</strong></p>
                <p>Current bidder: <strong>{{bid_data.current_bidder}}</strong></p>
            
            
                {% if bid_data.bid_closed == False %}
                    {% if user.username == listed_by %}
            
                        {% if bid_data.current_bidder == None %}
                            <form action="{% url 'close_bidding' name %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Close this listing!"> (Nobody bade on your item yet. Are you sure you want to close this?)
                            </form>
                        {% else %}
                            <form action="{% url 'close_bidding' name %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Close this listing!"> ({{bid_data.current_bidder}} will have this item for ${{bid_data.current_bid}}!)
                            </form>
                        {% endif%}
            
                    {% else %}
                        <strong>Place a new bid!</strong>
                        <br>
                        <form action="{% url 'bidding' name %}" method="POST">
                            {% csrf_token %}
                            <input name="bid" type="Number" step="0.01" placeholder="Your bid" min="{{bid_data.current_bid}}" required>
                            <input type="submit" value="Bid">
                        </form>
                    {% endif %}
                {% else %}
            
                    {% if bid_data.current_bidder == None %}
                        <strong>Nobody has won this listing. This listing was closed by its owner, {{listed_by}}!</strong>
                    {% else %}
                        <strong>{{bid_data.current_bidder}} has won this item({{name}}) for ${{bid_data.current_bid}}!</strong>
                    {% endif %}
                    <br>
                {% endif %}
                <br>
            
            
                {% if user.is_authenticated %}
                    {% if already_exists == True%}
                        <form action="{% url 'removefromwatchlist' id user.username %}">
                            {% csrf_token %}
                            <input type="submit" value="Remove from watchlist">
                        </form>
                        <br>
                    {% else %}
                        <form action="{% url 'addtowatchlist' id user.username %}">
                            {% csrf_token %}
                            <input type="submit" value="Add to watchlist">
                        </form>   
                        <br>
                    {% endif %}
                {% endif %}

                
                {% if user.is_authenticated %}
                    <form action="{% url 'addcomments' name %}" method="POST">
                        {% csrf_token %}
                        <p>Add a comment: </p>
                        <textarea style="height: 100px; width: 250px; resize: none" name="comment" required></textarea>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                {% else %}
                    <strong><a href="{%url 'login' %}">Login</a> to add a comment.</strong>
                {% endif %}
                <br>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="{{image_url}}" height="400px" width="400px" alt="No image found for this item.">
            </div>
        </div>
    </div>

    <hr style="border-top: 2px dashed black">
    <h4>Comments</h4>
    <hr style="border-top: 2px dashed black">

    {% for comment in comments %}
        <div class="items">
            <strong><P>{{comment.comm_person_id}}</P></strong>
            <p style="font-size: 1.1rem">{{comment.comm}}</p>
            <p style="font-size: 0.9rem">{{comment.commented}}</p>
        </div>
        <br>
    {% endfor%}

    {% endblock %} 




    





